typer==0.3.2
click==7.1.2
spacy==3.0.4
numpy==1.19.3
thinc==8.0.17
regex
nltk
jinja2
lemminflect
stanza==1.6.1
spacy_stanza==1.0.4
plac==0.9.6
spacy_lefff@git+http://vxgit.intra.inist.fr:60000/git/RichText/spacy_lefff.git#0.4.1#egg=spacy_lefff